nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;

  .nav__navbar {
    background-color: #5474fd;
    color: white;
    height: 83px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .nav__navbar__content {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    h2 {
      margin: 0;
      font-family: fonts.$font-josefin;
      font-weight: 700;
      text-transform: uppercase;
    }

    h2 a {
      text-decoration: none;
      color: white;
    }

    h2 a:hover {
      color: #011057;
    }

    ul {
      display: flex;
      list-style-type: none;
      gap: 12px;
      margin: 0;

      li {
        font-family: fonts.$font-aleo;
        font-weight: 400;
        text-transform: uppercase;
      }

      li a {
        text-decoration: none;
        color: white;
      }

      li a:hover {
        color: #011057;
      }
    }
  }
}

@media screen and (min-width: 1250px) {
  nav {
    .nav__navbar__content {
      margin: 0 auto;
      width: 60vw;

      h2 {
        font-size: 24px;
        line-height: 26px;
        letter-spacing: 2.4px;
      }

      ul {
        gap: 12px;

        li {
          width: 128px;
          font-size: 14px;
          line-height: 26px;
        }
      }
    }

    .hidden {
      display: none;
    }
  }
}

@media screen and (max-width: 1450px) {
  nav {
    .nav__navbar__content {
      max-width: 80vw;
      width: 100%;
      margin: 0 auto;

      h2 {
        font-size: 22px;
        line-height: 24px;
        letter-spacing: 2.4px;
      }

      ul {
        gap: 12px;

        li {
          font-size: 12px;
          line-height: 24px;
        }
      }

      .hidden {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 765px) {
  nav {
    .nav__navbar__content {
      max-width: 90vw;
      width: 90%;
      margin: 0 auto;

      h2 {
        font-size: 22px;
        line-height: 24px;
        letter-spacing: 2.4px;
      }

      ul {
        gap: 12px;

        li {
          font-size: 12px;
          line-height: 24px;
        }
      }

      .visible {
        display: none;
      }

      .hidden {
        display: block;
      }

      button {
        background: none;
        color: white;
        border: none;
        font-size: 22px;
        line-height: 24px;
        letter-spacing: 2.4px;
      }

      button:hover {
        color: #011057;
      }
    }
  }
}

.sticky-border {
  border-top: 15px solid white;
}

.nav__menu {
  background-color: #d3d3d3;
  width: 100%;
  padding: 20px 0;
  position: absolute;
  top: 0;
  transition: top 0.3s ease-in-out;
  z-index: -1;

  ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

    li a {
      font-family: fonts.$font-josefin;
      text-decoration: none;
      color: #5474fd;
      text-transform: uppercase;
    }

    li a:hover {
      color: #011057;
    }
  }
}

.menu-active {
  top: 83px;
}

.hidden-menu {
    display: none;
}