@use "fonts";

* {
  box-sizing: border-box;
}

body {
  padding: 0.938rem;
  background-color: white;
}

.gradient-btn {
  width: 228px;
  height: 63px;
  font-family: fonts.$font-aleo;
  text-transform: uppercase;
  border: none;
  border-radius: 1px;
  background-image: linear-gradient(220deg, #5474fd 60%, #496bfe 60%);
  color: white;
  cursor: pointer;
}

.gradient-btn:hover {
  background-image: linear-gradient(220deg, #3754da 60%, #1f3eca 60%);
}

@media screen and (max-width: 765px) {
  .gradient-btn {
    width: 150px;
  }
}

@import "header";
@import "nav";
@import "why";
@import "how";
@import "spain";
